body {
  background-color: rgb(232, 232, 232);
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td,
th {
  text-align: left; /* Left-align text inside table cells */
  padding: 8px; /* Optional: Add some padding */
}
